<!-- <h1 class = "head">Assessment</h1>
<div class="buttons">
  <a href="#!/prime"><button type="button" class="btn btn-primary">Prime Number</button></a>
  <a href="#!/palindrome"><button type="button" class="btn btn-primary">palindrome</button></a>
  <a href="#!/fibo"><button type="button" class="btn btn-primary">Fibonacci</button></a>
</div> -->

<header>
  <h1>Assess ment</h1>
</header>
<div class="container">
  <a href="#!/prime"><button type="button" class="btn btn-primary btn-custom">Prime Number</button></a>
  <a href="#!/palindrome"><button type="button" class="btn btn-primary btn-custom">palindrome</button></a>
  <a href="#!/fibo"><button type="button" class="btn btn-primary btn-custom">Fibonacci</button></a>
</div>
